.primary-content {
    padding-top: 25px;
    padding-bottom: 95px;
}
.wildflife {
    border-top: 10px solid orange;
    margin-top: 105px;
}
.secondary-content {
    padding-top: 80px;
    padding-bottom: 70px;
    border-bottom: 2px dotted lightgrey;
}
